body{
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 300;
}

p{
  font-size: 1.2em;
  font-weight: 400;
}

.logo img{
  width: 200px;
}

.hero-section{
  background: url("../images/header-bg.png") -400px 0 no-repeat;
  height: 700px;
}

.hero-section .col-md-6 > p{
  margin-top: 30px;
  font-size: 1.3em!important;
}

.hero-section h3{
  margin-top: 12em;
  color: #FFF;
  font-size: 1.6em;
  font-weight: 100;
}

.hero-section h1{
  font-weight: bold;
  color: #FFF;
  font-size: 3.5em;
  margin-top: 0;
}


.navbar-default {
  background-color: rgba(0, 0, 0, 0.19);
  height: 75px;
  padding: 0px 0;
  border-radius: 0;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: underline;
}

.navbar-header{
  height: 75px;
}

.navbar-collapse{
  padding: 0;
}

.navbar-default .navbar-collapse{
  border-color: #000!important;
}

.navbar-nav{
  padding: 5px;
  margin: 0;
}

.navbar-collapse.in{
  background: #000;
}

.navbar-toggle{
  margin-top: 20px;
}

#cta-hero{
  background: #F0059D;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.6em;
}

.body-content{
  background: #011327;
  color: #fff;
}

.macbook-mockup{
  position: relative;
  top: 25px;
  margin: 0 auto;
}

.slider-content{
  margin-top: 200px;
  color: #4F4F4F;
}

.slider-nav{
  float: left;
  margin: 20px 0 0 0;
  padding: 0;
}

.slider-nav li{
  float: left;
  list-style: none;
  margin-right: 10px;
}

footer{
  background: #FAFAFA;
  border-top:1px solid #CDCDCD;
  border-bottom:1px solid #CDCDCD;
}

.footer-box{
  min-height: auto;
  padding: 40px;
}

.footer-box.box-1{
  border-right: 1px solid #CDCDCD;
}

.footer-box.box-2{
  border-right: 1px solid #CDCDCD;
}

.footer-box.box-3{
}

.footer-nav{
  float: left;
}

.footer-nav li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-nav li a{
  color: #4F4F4F;
  font-size: 1.1em;
  font-weight: 400;
}

.footer-nav li.footer-nav-head{
  list-style: none;
  font-size: 1.2em;
}

#sendform{
  background: #F0059D;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 12px;
}

.small-footer{
  padding: 20px;
  color: #616161;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 480px){

    .hero-section{
      height: 600px;
    }
    .hero-section h3 {
        margin-top: 8em;
    }
    .slider-content {
      margin-top: 100px;
    }

    .slider-nav {
      margin:  20px auto;
      padding: 0;
      display: block;
      width: 150px;
      float: none;
      height: 100px;
    }

    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }

    .footer-nav{
      float: left;
    }


}
@media screen and (max-width: 750px){


}
@media (max-width: 767px){


}
@media screen and (max-width: 825px){
    .hero-section{
      height: 600px;
    }
    .hero-section h3 {
        margin-top: 8em;
    }
    .slider-content {
      margin-top: 100px;
    }

    .slider-nav {
      margin:  20px auto;
      padding: 0;
      display: block;
      width: 150px;
      float: none;
      height: 100px;
    }

    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }

    .footer-nav{
      float: left;
    }

    .small-footer{
      text-align: center;
    }

}
@media (max-width: 991px) and (min-width: 768px){
    .slider-nav {
      margin:  20px auto;
      padding: 0;
      display: block;
      width: 150px;
      float: none;
      height: 100px;
    }
    .footer-box.box-1{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-2{
      border-right: none!important;
      border-bottom: 1px solid #CDCDCD;
    }

    .footer-box.box-3{
    }
}
